snippet log
    console.log(${1:msg});

snippet ready
    $(document).ready(function() {
        ${1:code}
    });

snippet $
    jQuery(${1:dom})

snippet dojof
    dojo.forEach(${1:list}, function() {
    });
