snippet magic
    # coding: utf-8

snippet lambda
    lambda{${1:code}}

snippet context
    context "${1:dscr}" do
      ${2:code}
    end

snippet describe
    describe "${1:dscr}" do
      ${2:code}
    end

snippet it
    it "${1:dscr}" do
      ${2:code}
    end
